Repository hmcts/nfdiv-case-maintenance-service, pull requests merged in 2020-12, with the labels that each got.

#2 fix build issues
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  charts/nfdiv-cms/Chart.yaml
  charts/nfdiv-cms/requirements.yaml
  charts/nfdiv-cms/values.aat.template.yaml
  charts/nfdiv-cms/values.preview.template.yaml
  charts/nfdiv-cms/values.yaml
  dependency-check-suppressions.xml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/resources/bootstrap.yaml
  src/main/resources/example-application-aat.yml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-cms-pr-2

#3 Fix broken pipeline
  charts/nfdiv-cms/Chart.yaml
  charts/nfdiv-cms/values.aat.template.yaml
  charts/nfdiv-cms/values.preview.template.yaml
  charts/nfdiv-cms/values.yaml
  src/main/resources/example-application-aat.yml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-cms-pr-3

#4 Copy S2S key
  infrastructure/main.tf
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-cms-pr-4

#6 Switch microservice
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/nfdiv-cms/Chart.yaml
  charts/nfdiv-cms/values.yaml
  docker-compose.yml
  infrastructure/main.tf
  src/contractTest/resources/application.yml
  src/integrationTest/resources/application.properties
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-cms-pr-6

#9 Recover nfdiv commits
  .github/pull.yml
  .github/workflows/repo-sync.yml
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  build.gradle
  charts/nfdiv-cms/Chart.yaml
  charts/nfdiv-cms/requirements.yaml
  charts/nfdiv-cms/values.aat.template.yaml
  charts/nfdiv-cms/values.preview.template.yaml
  charts/nfdiv-cms/values.yaml
  dependency-check-suppressions.xml
  docker-compose.yml
  infrastructure/main.tf
  infrastructure/variables.tf
  settings.gradle
  src/contractTest/resources/application.yml
  src/integrationTest/resources/application.properties
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
  web.config
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-cms-pr-9

#7 Set casetype to NO_FAULT_DIVORCE
  dependency-check-suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/divorce/ccd/CcdUpdateTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/ccd-submission-payload/base-amended-case.json
  src/integrationTest/resources/ccd-submission-payload/bulk-case.json
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/reform/divorce/casemaintenanceservice/service/impl/CcdAccessServiceImplUTest.java
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-cms-pr-7

#10 initial PR build to update Java chart
  README.md
  charts/nfdiv-cms/Chart.yaml
  charts/nfdiv-cms/requirements.yaml
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-cms-pr-10
